.Navbar {
    top: 0;
    right: 0;
    width: 0;
    position: relative;
    margin: 5px;
    z-index: 100;
}

Container {
    max-width: 100%;
    overflow-x: hidden;
}

.img {
    width: auto;
    height: 2em;
}

.nav {
    padding: 0;
    margin: 0;
    width: 95%;
}

.lists {
    width: 100%;
}

.lists:hover {
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;

}

.logo {
    width: 80%;
    height: 20%;
    margin: auto;
}

.logo img {
    width: 60%;
    height: 100%;
}